.reform-item {
  margin-bottom: 24px;
}

.reform-item-inline {
  display: inline-block;
}

.reform-item-label {
  display: inline-block;
  text-align: right;
  .reform-item-label-text {
    margin-right: 5px;
  }
}

.reform-item-wrap {
  display: inline-block;
  position: relative;
}

.reform-item-wrap-error {
  position: absolute;
  color: #f5222d;
}